/* HH Blue - #0079c2 */
/* HH Green - #99c878 */ 
/* IUPUI Red - #990002 */
/* Light gray? - #f5f5f5 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(35, 35, 35);
}

header {
    grid-area: header;
    background-color: #990002;
    color: #fff;
    padding: 1em;
}

nav {
    grid-area: nav;
    background-color: #0079c2;
    display: flex;
    align-items: center;
}

nav .icon {
    display: none;
}

nav ul {
    display: flex;
    margin: 0 auto;
}

nav ul li {
    padding: 0em 1em;
    font-size: 1.5em;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: orange;
    text-decoration: none;
}

nav ul li a:active {
    color: rgb(255, 119, 45);
}

.hero {
    grid-area: hero;
    background-color: lightblue; 
}

main {
    grid-area: main;
    background-color: #fff;
    /* padding: 1em; */
    border-radius: .5em;
}

main section {
    padding: 1em 1em 1em 1em;
}

/* final section in main content will not add padding below it. */
main section:last-child {
    /* padding-bottom: 1em; */
    border-radius: .5em;
}

/* to make light gray stripes. */
main section.flipColor {
    background-color: #f5f5f5;
}

main section a {
    display: inline-block;
    background-color: #0079c2;
    color: #fff;
    border-radius: 1em;
    border: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* display: flex; */
    /* margin: 0 auto; */
}

main section a:hover {
    background-color: #0095f1;
}

main section a:active {
    background-color: #003971;
}

aside {
    grid-area: aside;
    background-color: bisque;
}

footer {
    grid-area: footer;
    background-color: #99c878;
    padding: 1em;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header nav nav nav'
        'hero hero hero hero hero hero'
        'main main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: .5em;
    
}


ul li {
    list-style-type: none;
}


/* FIRST BREAK POINT == to better fit in the header + nav */
@media only screen and (max-width : 1075px) {
    body {
        /* background: blue; */
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'nav nav nav nav nav nav' 
            'hero hero hero hero hero hero'
            'main main main main main main'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
        padding: .5em;
    }

    nav ul li {
        display: inline-block;
        font-size: 1.5em;
    }

}

/* SECOND BREAK POINT == compact version of nav bar */
@media only screen and (max-width : 875px) {
    body {
        /* background-color: red; */
    }

    .topnav ul li:not(:first-child) {
        display: none;
    }

    /* remove visibility of first link in list. this makes it so that the color background still shows. */
    .topnav ul li:first-child {
        visibility: hidden;
    }

    .topnav ul li.icon {
        float: right;
        display: block;
    }

    .topnav {position: relative;}
    .topnav ul li.icon {
        position: absolute;
        right: 0; 
        top: 0;
    }
    
  .topnav.responsive ul, .topnav.responsive ul li {
    float: none;
    display: block;
  }

  .topnav.responsive ul li {
    margin-bottom: 1em;
  }

  /* when the menu is open, make the first link visible again. */
  .topnav.responsive ul li:first-child {
      visibility: visible;
  }

  /* remove margin on last visible link, which is the second to last <li>. */
  .topnav.responsive ul li:nth-last-child(2) {
    margin-bottom: 0em;
  }

}

/* THIRD BREAK POINT == mobile */
@media only screen and (max-width : 600px) {

    body {
        /* background: fuchsia; */
        width: 100%;
    }

}